{% macro printComment(comment) %}
    <div class="comment">
        <strong>{{ comment.author|e }}</strong><br>
        {{ comment.text|e }}

        <span class="comment-links">
            <a href="{{  url('comments', {'action': 'reply', 'id': comment.id}) }}">reply</a> |
            <a href="{{  url('comments', {'action': 'edit', 'id': comment.id}) }}">edit</a> |
            <a href="{{  url('comments', {'action': 'delete', 'id': comment.id}) }}">delete</a>
        </span>
        <br>
        {% for child in comment.children %}
            {{ _self.printComment(child) }}
        {% endfor %}
    </div>
{% endmacro %}