

<link href="{{ basePath() }}/css/comments.css" media="screen" rel="stylesheet" type="text/css">

{% import 'macro/formMacro.twig' as forms %}
{% import 'macro/printCommentMacro.twig' as print %}

<h1>Delete comment</h1>
Yer about 't delete this comment:
{{ print.printComment(comment) }}
Are ya sure?

<form method="post"
      action="{{ url('comments', {'action': 'delete', 'id': id }) }}"
      name="comment"
      id="comment">

    {{ forms.input('id', id, 'hidden') }}
    {{ forms.input('del', 'Yes', 'submit', 'Yes') }}
    {{ forms.input('del', 'No', 'submit', 'No') }}
</form>
