

<link href="{{ basePath() }}/css/comments.css" media="screen" rel="stylesheet" type="text/css">

<h1>Comments</h1>
<a href="{{  url('comments', {'action': 'reply'}) }}">New comment</a><br>

{% import 'macro/printCommentMacro.twig' as macro %}

{% for comment in comments %}
    {{ macro.printComment(comment) }}
{% else %}
    No comments here
{% endfor %}