

<link href="{{ basePath() }}/css/comments.css" media="screen" rel="stylesheet" type="text/css">

{% import 'macro/formMacro.twig' as forms %}

<h1>Add comment</h1>
<form method="{{ form.attributes.method }}"
      action="{{ url('comments', {'action': 'reply', 'id': id }) }}"
      name="comment"
      id="comment">

    {% for element in form %}
        {{ forms.input(element.attributes.name, element.value, element.attributes.type, element.label, 20, element.messages) }}
    {% endfor %}
</form>
